#quit-room-btn,
#ready-btn {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
}

.quit-room-btn-wrapper {
  height: 39px;
  margin: 20px 0;
}

#quit-room-btn {
  height: 100%;
  font-size: 14px;
  padding: 0 15px;
}

#ready-btn {
  height: 80px;
  font-size: 32px;
  padding: 0 50px;
  text-transform: uppercase;
}

#ready-btn.ready::before {
  content: "READY";
}

#ready-btn.notready {
  background-color: rgb(241, 176, 176);
}

#ready-btn.notready::before {
  content: "NOT READY";
}

#game-page {
  padding: 30px 40px;
  display: flex;
}

.users-container {
  margin-top: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

li.user {
  margin: 10px 0;
}

.user-progress-text-wrapper {
  display: flex;
  align-items: center;
}

.ready-status-red,
.ready-status-green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

span.active::after {
  content: "(you)";
  font-style: italic;
  margin-left: 20px;
}

.user-progress-wrapper {
  width: 100%;
  height: 25px;
  border: 1px solid;
  margin: 10px 0;
  overflow: hidden;
}

.user-progress {
  background-color: greenyellow;
  height: 100%;
}

.user-progress.finished {
  background-color: rgb(22, 204, 22);
}

.playing-field {
  position: relative;
  margin-left: 40px;
  width: 650px;
  height: 550px;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  font-size: 80px;
  color: #747474;
}

#text-container {
  margin: 100px;
}

.game-timer {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.game-timer::after {
  content: " seconds left";
  font-style: italic;
}

.done {
  background-color:rgb(51, 255, 0);
}

.current {
  border-bottom: 2px solid rgb(51, 255, 0);
}

.bot-container {
  width: 300px;
  height: 450px;
  margin-left: 40px;
  position: relative;
}

.bot-image {
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.message-wrapper {
  font-weight: bold;
  font-size: 12px;
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("/img/message.png");
  background-size: 100%;
  padding: 75px 65px 80px 75px;
  color: black;
}
