#add-room-btn,
.join-btn {
  height: 39px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 0 15px;
  }

#add-room-btn {
  margin: 40px 0;
  text-transform: uppercase;
  }

#rooms-page {
  padding: 30px 40px;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 30px;
}

.room {
  padding: 10px;
  border: 1px solid var(--main-button-border-color);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.join-btn {
  margin: 10px;
}

.room span {
  align-self: flex-start;
}
